<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kanakku.dreamguystech.com/template-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Feb 2021 23:22:06 GMT -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Insurence</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/public/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/public/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/public/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/public/css/style.css">

	<link rel="stylesheet" href="/public/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/public/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/public/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/public/js/toaster.js"></script>
</head>
<style>
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
h1.white{
  font-family: 'Montserrat', sans-serif;
  margin:30px 20px 50px;
  color:#fff;
  text-transform:uppercase;
}
.serviceBox{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.serviceBox .service-icon{
    color: #fff;
    background: #fff;
    font-size: 45px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border-radius: 50%;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 0;
}

.serviceBox .service-icon:before,
.serviceBox .service-icon:after{
    content: "";
    background: linear-gradient(to right, #F09119 50%, transparent 50%);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
  transition: all ease 0.8s;
}
.serviceBox:hover .service-icon:before, .serviceBox:hover .service-icon:after {
    transform: rotateZ(180deg);
}
.serviceBox:hover .service-icon {
    box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.2);
}

.serviceBox .service-icon:after{
    background: #F09119;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.serviceBox {
    border: 1px solid #e5e4e4;
    padding: 40px;
    border-radius: 20px;
    background: #f9f9f9;
    position: relative;
    
}


.serviceBox .title{
    color: #F1921A;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.serviceBox .description{
    color: #777;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0;
}

.serviceBox.red .service-icon:before{ background: linear-gradient(to right, #E34A3A 50%, transparent 50%); }
.serviceBox.red .service-icon:after{ background: #E34A3A; }
.serviceBox.red .title{ color: #E34A3A; }

.serviceBox.blue .service-icon:before{ background: linear-gradient(to right, #009CB5 50%, transparent 50%); }
.serviceBox.blue .service-icon:after{ background: #009CB5; }
.serviceBox.blue .title{ color: #009CB5; }

.serviceBox.green .service-icon:before{ background: linear-gradient(to right, #A1C52D 50%, transparent 50%); }
.serviceBox.green .service-icon:after{ background: #A1C52D; }
.serviceBox.green .title{ color: #A1C52D; }

@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 30px; }
}
a{
    color: white;
    text-decoration: none;
}
</style>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<%- include('partial/header'); %>

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

			
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="serviceBox">
								<div class="service-icon">
									<i class="fas fa-motorcycle"></i>
								</div>
								<h3 class="title">Two Wheeler</h3>
								<button class="btn btn-primary"><a href="/insurance/two">Click Here</a></button>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="serviceBox red">
								<div class="service-icon">
                                    <i class="fas fa-car"></i>
								</div>
								<h3 class="title">Four Wheeler</h3>
								<button class="btn btn-primary"><a href="/insurance/four">Click Here</a></button>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="serviceBox blue">
								<div class="service-icon">
                                    <i class="fas fa-bus"></i>
								</div>
								<h3 class="title">Bus</h3>
								<button class="btn btn-primary"><a href="/insurance/bus">Click Here</a></button>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="serviceBox green">
								<div class="service-icon">
                                   <img src="/public/img/coco.svg" alt="" height="50px" srcset="">
								</div>
								<h3 class="title">Auto</h3>
								<button class="btn btn-primary"><a href="/insurance/auto">Click Here</a></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="/public/js/main/jquery-3.5.1.min.js"></script>
		
	<!-- Bootstrap Core JS -->
	<script src="/public/js/main/popper.min.js"></script>
	<script src="/public/js/main/bootstrap.min.js"></script>
	
	<!-- Feather Icon JS -->
	<script src="/public/js/main/feather.min.js"></script>
	
	<!-- Slimscroll JS -->
	<script src="/public/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- Select2 JS -->
	<script src="/public/plugins/select2/js/select2.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="/public/plugins/moment/moment.min.js"></script>
	<script src="/public/js/main/bootstrap-datetimepicker.min.js"></script>
	
	<!-- Datatables JS -->
	<script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/public/plugins/datatables/datatables.min.js"></script>
	
	<!-- Custom JS -->
	<script src="/public/js/main/script.js"></script>

</body>

<!-- Mirrored from kanakku.dreamguystech.com/template-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Feb 2021 23:22:10 GMT -->

</html>